body {
  margin: 0;
  font-family: 'Lucida Grande', -apple-system, BlinkMacSystemFont,'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 241, 252);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Lucida Grande',
    monospace;
}
